---
Language:        Cpp
BasedOnStyle:  Chromium
DerivePointerAlignment: false
PointerAlignment: Left
ReflowComments: false
---
Language:        ObjC
BasedOnStyle:  Chromium
DerivePointerAlignment: false
PointerAlignment: Left
ReflowComments: false
