#ifndef SORA_VERSION_H_INCLUDED
#define SORA_VERSION_H_INCLUDED

#define SORA_UNITY_SDK_VERSION      "@SORA_UNITY_SDK_VERSION@"
#define SORA_UNITY_SDK_COMMIT_SHORT "@SORA_UNITY_SDK_COMMIT_SHORT@"
#define WEBRTC_BUILD_VERSION        "@WEBRTC_BUILD_VERSION@"
#define WEBRTC_READABLE_VERSION     "@WEBRTC_READABLE_VERSION@"
#define WEBRTC_SRC_COMMIT_SHORT     "@WEBRTC_SRC_COMMIT_SHORT@"
#define SORA_UNITY_SDK_PLATFORM     "@SORA_UNITY_SDK_PLATFORM@"

#endif // SORA_VERSION_H_INCLUDED
