#ifndef SORA_VERSION_H_INCLUDED
#define SORA_VERSION_H_INCLUDED

#define SORA_UNITY_SDK_VERSION      "@SORA_UNITY_SDK_VERSION@"
#define SORA_UNITY_SDK_COMMIT_SHORT "@SORA_UNITY_SDK_COMMIT_SHORT@"
#define WEBRTC_VERSION              "@WEBRTC_VERSION@"
#define WEBRTC_READABLE_VERSION     "@WEBRTC_READABLE_VERSION@"
#define WEBRTC_SRC_COMMIT_SHORT     "@WEBRTC_SRC_COMMIT_SHORT@"

#endif // SORA_VERSION_H_INCLUDED