name: build

on:
  push:
    paths-ignore:
    - 'doc/**'
    - '**.md'
  schedule:
  - cron: "0 0 * * *"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: windows_x86_64
            runs-on: windows-2022
          - target: macos_arm64
            runs-on: macos-15
          - target: ios
            runs-on: macos-15
          - target: ubuntu-22.04_x86_64
            runs-on: ubuntu-22.04
          - target: ubuntu-24.04_x86_64
            runs-on: ubuntu-24.04
          - target: android
            runs-on: ubuntu-24.04
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v5
      - name: Cache
        id: cache
        uses: actions/cache@v4
        with:
          path: _install
          key: ${{ matrix.target }}-v1-${{ hashFiles('VERSIONS') }}
          restore-keys: |
            ${{ matrix.name }}-v1-
      - run: python3 run.py build ${{ matrix.target }}
      - run: python3 run.py package
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: package-${{ matrix.target }}
          path: _package/

  package:
    name: Package SoraUnitySdk
    needs: [build]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          path: _dist/
          pattern: package-*
          merge-multiple: true
      - name: Create Package
        run: |
          cd _dist
          zip -r ../SoraUnitySdk.zip .
      - name: Upload Package
        uses: actions/upload-artifact@v4
        with:
          name: SoraUnitySdk.zip
          path: SoraUnitySdk.zip

  release:
    name: Create Release
    if: contains(github.ref, 'tags/20')
    needs: [package]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: SoraUnitySdk.zip
      - name: Release
        run: |
          if [[ "${{ github.ref }}" == *canary* ]]; then
            prerelease="--prerelease"
          fi
          gh release create "${{ github.ref_name }}" \
            $prerelease \
            --title "${{ github.ref_name }}" \
            SoraUnitySdk.zip
        env:
          GH_TOKEN: ${{ github.token }}
